body {
    background-color: rgb(235, 210, 178);
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    width: 40%;
    min-width: 600px;

    margin: 5em auto;
    border-radius: 3em;
    box-shadow: 20px 20px rgb(51, 41, 41);
    border: 3px solid black;
}

.insidecontainer {
    background-color: rgb(255, 240, 157);
    border-radius: 2em;
    border: 3px solid black;

}

.insidecontainer {

    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    width: 90%;
}

.clock,
h1 {
    border: 4px solid black;
    background-color: black;
    padding: .3em;
    border-radius: .33em;
    box-shadow: 10px 10px 5px grey;
    margin: 0;
    margin: 1em 0;
    color: rgb(255, 255, 255);
}

.clock {
    width: 40%;
    font-size: 2rem;
    margin-bottom: 0;
}

.secondcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

p {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    margin: 0.4em;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 0 5px black;
    padding: .2em;
    border-radius: 10px;
    background-color: darkred;
    color: wheat;
    text-shadow: 4px 3px 5px blac

}

select {
    color: white;
    background-color: black;
    font-weight: 600;
    letter-spacing: 2px;
    width: 90%;
}
@media screen and (max-width : 610px) {
    .container {
        width: 90%;
        min-width: 0;
    }
    .secondcontainer {
    display: flex;
    flex-direction: column;
    }
    .secondcontainer div {
    margin-top: 1em;
    }
    body{
        font-size: 0.6em;
    }
}
